:root {
    --background: #fcfcfc;
    --primary-blue: #00a0e3;
    --primary-blue-hover: #008eca;
    --primary-yellow: #ffc600;
}

body {
    font-family: 'Khula', sans-serif;
    background-color: var(--background);
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

/* Transition */

#transition {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    transition: 1s;
    background-color: var(--primary-blue);
}

#transition.out {
    width: 0;
}

/* Transition Style End */

/* Home Header Style */
.hide-content {
    overflow: hidden;
}

.header-title {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    transform: translateX(-100%);
    animation: text 1s forwards;
}

.header-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--primary-yellow);
    animation: underline 1s 1s forwards;
}

.button-primary {
    padding: 10px 25px;
    border: none;
    color: white;
    background-color: var(--primary-blue);
    transition: .2s;
    transform: translateX(-110%);
    animation: text 1s 1.1s forwards;
}

.button-primary:hover {
    background-color: var(--primary-blue-hover);
    transform: translateX(-10%) !important;
}

.information {
    position: absolute;
    bottom: 0;
}

.information p {
    font-size: 1rem;
    margin: 0;
    transform: translateX(-100%);
    animation: text 1s .5s forwards;
}

/* Home Header Style End */

/* Animations */

@keyframes underline {
    100% {
        width: 20%;
    }
}

@keyframes text {
    100% {
        transform: translateX(0);
    }
}